.space {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right bottom, #000000, #101012, #000000);
  overflow: hidden;
  z-index: -1;
}

.star {
  position: absolute;
  background: white;
  border-radius: 50%;
}

@keyframes twinkle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0px 0px rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.1);
  }
  100% {
    box-shadow: 0 0 0px 0px rgba(255, 255, 255, 0);
  }
}
