.menuBar {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #333;
  color: #fff;
}

.menuBarItems {
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.menuBar button {
  border: none;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;
  transition: background-color 0.6s ease, font-weight 0.6s ease;
}

.menuBar button:hover {
  background-color: #444;
  font-weight: bold;
}
